<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Strona {{ domain }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script src="https://cdn.tiny.cloud/1/1jzb3sndbew05iq82n2l2gx8ty7kffafsehe746kw9joysg8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector: '.art-editor'});</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style src="index.css"></style>
</head>
<body>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"> {{ domain }} </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="menu-buttons">
                <li class="nav-item active">
                    <a class="nav-link" href="main">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="articles_list">Artykuły</a>
                </li>
                {% if is_loggin == 'true' %}
                    <li class="nav-item">
                        <a class="nav-link" href="articles_add">Dodaj artykuł</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="register">Rejestracja</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="guest_book">Księga gości</a>
                </li>
            </ul>
        </div>
        {% if is_loggin == 'true' %}
            <button type="button" class="btn btn-outline-info mr-1" href="#">{{ email }}</button>
            <form action="" method="POST" class="form-inline my-2 my-lg-0">
                <input type="hidden" name="logout" value="true"/>
                <button class="btn btn-info my-2 my-sm-0" type="submit">Wyloguj się</button>
            </form>
        {% else %}
            <form action="" method="POST" class="form-inline my-2 my-lg-0">
                <input type="text" name="login" class="form-control mr-sm-2" placeholder="Login" aria-label="login"
                       style="width: 150px;">
                <input type="password" name="password" class="form-control mr-sm-2" placeholder="Hasło"
                       aria-label="password" style="width: 150px;">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Zaloguj się</button>
            </form>
        {% endif %}

    </div>
    {% if message == 'login.error' %}
        <div class="alert alert-danger">Podane hasło jest nieprawidłowe.</div>
    {% endif %}
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Blog osobisty</h1>
        <p class="lead">Znajdziesz tutaj artykuły na każdy temat.</p>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <main class="col-md-8">
            {% include content_file %}
        </main>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Użytkownicy online
                </div>
                <div class="card-body">
                    <p class="card-text" id="online_users">
                        <script>
                            $.getJSON('https://s040.labagh.pl/api/online',
                                function (data) {
                                    $emails = "";
                                    $.each( data, function(num, user) {
                                        $emails = $emails + user.email + "<br>";
                                    });

                                    $("#online_users").html($emails);
                                }
                            );
                        </script>
                    </p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    Ostatnie 10 artykułów
                </div>
                <div class="card-body">
                    <p class="card-text" id="top_10">
                        <script>
                            $.getJSON('https://s040.labagh.pl/api/articles?limit=10',
                                function (data) {
                                    $articles = "";
                                    $.each( data, function(num, article) {
                                        $articles = $articles + "<a href=\"/article?id=" + article.id + "\">" + article.title + "</a><br>";
                                    });

                                    $("#top_10").html($articles);
                                }
                            );
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-auto" style="background-color: #f5f5f5;">
    <div class="container">
        <span class="text-muted">Aktualna data: {{ date }} </span>
    </div>
</footer>

</body>
</html>